{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "no-use-before-define": ["error", { "functions": false }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-one-expression-per-line": "off",
    "react/no-unescaped-entities": "off",
    "no-console": "off",
    "consistent-return": "off",
    "prettier/prettier": ["error"]
  }
}
