{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "no-use-before-define": ["error", { "functions": false }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-one-expression-per-line": "off",
    "react/no-unescaped-entities": "off",
    "no-console": "off",
    "consistent-return": "off",
    "react/prop-types": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "import/newline-after-import": "off",
    "prettier/prettier": ["error"]
  }
}
